.tophead {
  margin: auto;
  height: auto;
  width: 640px;
  background-color: rgba(61, 172, 28, 0.77);
  text-align: center;
  border-radius: 20px;

}

.container {
  border-style: solid;
  width: 640px;
  height: 640px;
  margin: auto;
  margin-top: 50px;
  border-color: #d00404;
  display: block;
}

.grid {
  border-style: solid;
  border-color: rgb(26, 43, 48);
  border-width: thin;
  display: inline-block;
  box-sizing: border-box;
  float: left;
}

.mybutton {
  width: 105px;
  margin: auto;
  margin-top: 50px;
  display: block;
}
