.tophead {
  margin: auto;
  height: auto;
  width: 640px;
  background-color: rgba(61, 172, 28, 0.77);
  text-align: center;
  border-radius: 20px;

}

.container {
  border-style: solid;
  width: 640px;
  height: 640px;
  margin: auto;
  margin-top: 50px;
  border-color: #d00404;
  display: block;
}

.grid {
  border-style: solid;
  border-color: rgb(26, 43, 48);
  border-width: thin;
  display: inline-block;
  box-sizing: border-box;
  float: left;
}

.thebuttons {
  width: 640px;
  margin: auto;
  align-items: center;
  margin-top: 50px;
  display: block;
  padding-left: 250px;
}

.myfooter {
  height: 50 px;
  width: 100%;
  text-align: center;
  background-color: rgba(61, 172, 28, 0.77);
  position: absolute;
  bottom: 0px;
  left: 0px
}

input button {
  background-color: rgb(29, 250, 1);
}
